/* smooth behavior */
html{
    scroll-behavior: smooth !important;
}

/* General */
body{
    font-family: "Raleway", sans-serif;
    background-color: black;
    color: white;
}

/* Navbar */
.bgblack.scrolled{
    background-color: black;
}

.logo-size{
    height: 40px;
    width: 30px;
}

/* h4 - h5 */
h4{
    font-weight: 500;
}
h5{
    font-weight: 500;
}
/* Destacados */
.card img{
    height: 120px;
}

/* Parrafos justificados */
.text-justify {
    text-align: justify;
}

/* Footer */
footer a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem !important;
}

a:hover {
    color: black !important;
}